body {
	height: 100%;
	width: 100%;
	background-color: #fff;
	font-size: 16px;
	overflow: hidden;
	background-image: linear-gradient(to right, #E5E7E9 0%, #F2F3F4 30%, #FFFFFF 100%);
}

.top-left-orange {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	border-radius: 100%;
	background-color: #f1625a;
	transform: translate(-25%, -65%) scaleX(1.5)
}

.top-left-orange:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.bottom-right-orange {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	border-radius: 100%;
	background-color: #e8004c;
	transform: translate(25%, 65%) scaleX(1.5)
}

.bottom-right-orange:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.comming-soon {
	background-image: url('../images/coming-soon.png');
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-size: auto;
	width: 80%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
	.comming-soon {
		background-size: contain;
	}
}